/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&caps_word {
        continue-list = <UNDERSCORE MINUS>;
};

/ {
        behaviors {

                // tab or caps word
                tabcw: tab_caps_word {
                        label = "Tab or Caps Word";
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp TAB>, <&caps_word>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                };

                bsdel: backspace_delete {
                        label = "Backspace Delete";
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&lt 2 BSPC>, <&kp DEL>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };

                // graves escape
                gresc: grave_escape {
                        compatible = "zmk,behavior-mod-morph";
                        label = "Escape or Graves";
                        #binding-cells = <0>;
                        bindings = <&kp ESC>, <&switch_windows>;
                        mods = <(MOD_LGUI|MOD_RGUI)>;
                };

                sqtdqt: sqt_dqt {
                        compatible = "zmk,behavior-mod-morph";
                        label = "Single or double quotes";
                        #binding-cells = <0>;
                        bindings = <&autosqt>, <&autodqt>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };

                commaangle: comma_angle {
                        compatible = "zmk,behavior-mod-morph";
                        label = "Comma or angle";
                        #binding-cells = <0>;
                        bindings = <&kp COMMA>, <&autoangle>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };

                // auto completion
                autoparen: auto_paren {
                        compatible = "zmk,behavior-tap-dance";
                        label = "Auto parenthesis";
                        #binding-cells = <0>;
                        bindings = <&kp LPAR>, <&m_parent>;
                };
                autocurly: auto_curly {
                        compatible = "zmk,behavior-tap-dance";
                        label = "Auto curly braces";
                        #binding-cells = <0>;
                        bindings = <&kp LBRC>, <&m_crly_bracket>;
                };
                autosquare: auto_square {
                        compatible = "zmk,behavior-tap-dance";
                        label = "Auto square braces";
                        #binding-cells = <0>;
                        bindings = <&kp LBKT>, <&m_sqr_bracket>;
                };
                autoangle: auto_angle {
                        compatible = "zmk,behavior-tap-dance";
                        label = "Auto angled braces";
                        #binding-cells = <0>;
                        bindings = <&kp LT>, <&m_angle_bracket>;
                };
                autosqt: auto_single_quote {
                        compatible = "zmk,behavior-tap-dance";
                        label = "Auto double quote";
                        #binding-cells = <0>;
                        bindings = <&kp SQT>, <&m_single_quote>;
                };
                autodqt: auto_double_quote {
                        compatible = "zmk,behavior-tap-dance";
                        label = "Auto single quote";
                        #binding-cells = <0>;
                        bindings = <&kp DQT>, <&m_double_quote>;
                };
        };

        macros {
                // auto completion
                m_parent: parenthesis {
                        label = "Parenthesis";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LPAR>
                                , <&macro_tap &kp RPAR>
                                , <&macro_tap &kp LEFT>
                                ;
                };
                m_sqr_bracket: square_brackets {
                        label = "Square brackets";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LBKT>
                                , <&macro_tap &kp RBKT>
                                , <&macro_tap &kp LEFT>
                                ;
                };
                m_crly_bracket: curly_brackets {
                        label = "Curly brackets";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp LBRC>
                                , <&macro_tap &kp RBRC>
                                , <&macro_tap &kp LEFT>
                                ;
                };
                m_angle_bracket: angle_brackets {
                        label = "Angled brackets";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_release &kp LSFT>
                                , <&macro_tap &kp LT>
                                , <&macro_tap &kp GT>
                                , <&macro_tap &kp LEFT>
                                ;
                };
                m_single_quote: single_quotes {
                        label = "Single quotes";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_tap &kp SQT>
                                , <&macro_tap &kp SQT>
                                , <&macro_tap &kp LEFT>
                                ;
                };
                m_double_quote: double_quotes {
                        label = "Double quotes";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_release &kp LSFT>
                                , <&macro_tap &kp DQT>
                                , <&macro_tap &kp DQT>
                                , <&macro_tap &kp LEFT>
                                ;
                };

                // window management / navigation
                switch_windows: switch_windows {
                        label = "Switch_windows";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_release &kp LGUI>
                                , <&macro_press &kp LGUI>
                                , <&macro_tap &kp TILDE>
                                , <&macro_release &kp LGUI>
                                ;
                };
                rect_left: rect_left {
                        label = "Rectangle left";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL &kp LALT>
                                , <&macro_tap &kp LEFT>
                                , <&macro_release &kp LCTRL &kp LALT>
                                ;
                };
                rect_right: rect_right {
                        label = "Rectangle right";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL &kp LALT>
                                , <&macro_tap &kp RIGHT>
                                , <&macro_release &kp LCTRL &kp LALT>
                                ;
                };
                rect_full: rect_full {
                        label = "Rectangle full";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL &kp LALT>
                                , <&macro_tap &kp RET>
                                , <&macro_release &kp LCTRL &kp LALT>
                                ;
                };
                move_app_left: move_app_left {
                        label = "Move app left";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LGUI &kp LCTRL &kp LALT>
                                , <&macro_tap &kp LEFT>
                                , <&macro_release &kp LGUI &kp LCTRL &kp LALT>
                                ;
                };    
                move_app_right: move_app_right {
                        label = "Move app right";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LGUI &kp LCTRL &kp LALT>
                                , <&macro_tap &kp RIGHT>
                                , <&macro_release &kp LGUI &kp LCTRL &kp LALT>
                                ;
                };

                // text movement
                skip_word_left: skip_word_left {
                        label = "Skip word left";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp LEFT>
                                , <&macro_release &kp LALT>
                                ;
                };    
                skip_word_right: skip_word_right {
                        label = "Skip word right";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp RIGHT>
                                , <&macro_release &kp LALT>
                                ;
                };
                select_word: select_word {
                        label = "Select word";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp LEFT>
                                , <&macro_press &kp LSHFT>
                                , <&macro_tap &kp RIGHT>
                                , <&macro_release &kp LSHFT>
                                , <&macro_release &kp LALT>
                                ;
                };
                select_next_word: select_next_word {
                        label = "Select next word";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_press &kp LSHFT>
                                , <&macro_tap &kp RIGHT>
                                , <&macro_release &kp LSHFT>
                                , <&macro_release &kp LALT>
                                ;
                };
        };

        keymap {
                compatible = "zmk,keymap";
                alphas {
                        bindings = <
                                &gresc &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &kp P &none
                                &tabcw &kp A &kp S &kp D &kp F &kp G     &kp H &kp J &kp K &kp L &kp SEMI &sqtdqt
                                &kp LSFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &commaangle &kp DOT &kp FSLH &none
                                &kp LALT &kp LGUI &lt 1 SPACE            &lt 2 BSPC &lt 3 RET &kp RCTRL
                        >;
                };
                numbers {
                        bindings = <
                                &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp DEL
                                &trans &none &none &rect_full &rect_left &rect_right           &kp N4 &kp N5 &kp N6 &kp BSLH &kp MINUS &kp EQUAL
                                &trans &none &none &none &move_app_left &move_app_right        &kp N1 &kp N2 &kp N3 &none &none &none
                                &trans &trans &trans                                           &trans &trans &trans
                        >;
                };
                symbols {
                        bindings = <
                                &kp TILDE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT         &kp CARET &kp AMPS &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp DEL
                                &trans &none &kp FSLH &autocurly &autosquare &autoparen       &kp RPAR &kp RBKT &kp RBRC &kp BSLH &kp UNDER &kp PLUS
                                &trans &none &none &none &none &none                          &none &none &none &none &none &none
                                &trans &trans &trans                                          &trans &trans &trans
                        >;
                };
                movement {
                        bindings = <
                                &kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &bt BT_CLR    &skip_word_left &kp PG_DN &kp PG_UP &skip_word_right &none &none
                                &trans &kp F5 &kp F6 &kp F7 &kp F8 &bt BT_NXT     &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
                                &trans &kp F9 &kp F10 &kp F11 &kp F12 &bt BT_PRV  &select_word &kp END &kp HOME &select_next_word &none &none
                                &trans &trans &trans                              &trans &trans &trans
                        >;
                }; 
        };
};
