#define TAP_DANCE(NAME, BINDINGS) \
  tap_##NAME: tap_##NAME { \
      label = str(tap_##NAME); \
      compatible = "zmk,behavior-tap-dance"; \
      #binding-cells = <0>; \
      bindings = <BINDINGS>; \
  };
#define MOD_MORPH_SFT(NAME, BINDINGS, MODS) \
  morph_##NAME: morph_##NAME { \
      label = str(morph_##NAME); \
      compatible = "zmk,behavior-mod-morph"; \
      #binding-cells = <0>; \
      bindings = <BINDINGS>; \
      mods = <(MOD_LSFT|MOD_RSFT)>; \
  };

/ {
  behaviors {
    // general mod-morphs
    MOD_MORPH_SFT(gresc, &kp ESC &kp GRAVE)
    MOD_MORPH_SFT(rthmb, &lt 2 LA(BSPC) &lt 2 BSPC)
    MOD_MORPH_SFT(snipt, &macro_mac_st &macro_arc_st)

    // navigation tap dances
    TAP_DANCE(media, &kp C_PLAY_PAUSE &kp C_NEXT> &kp C_PREVIOUS>)
    TAP_DANCE(navdn, &kp PG_DN &kp END)
    TAP_DANCE(navup, &kp PG_UP &kp HOME)
    
    // amethyst mod-morphs
    MOD_MORPH_SFT(amethyst_rhs, &macro_amethyst_swap_cw &macro_amethyst_increase_main)
    MOD_MORPH_SFT(amethyst_lhs, &macro_amethyst_swap_ccw &macro_amethyst_decrease_main)
    MOD_MORPH_SFT(amethyst_layout, &macro_amethyst_swap_main &macro_amethyst_swap_layout)

    // arc mod-morphs
    MOD_MORPH_SFT(arc_next, &macro_arc_next_tab &macro_arc_next_spc)
    MOD_MORPH_SFT(arc_prev, &macro_arc_prev_tab &macro_arc_prev_spc)

    // auto-completion mod-morphs
    MOD_MORPH_SFT(auto_sqt_dqt, &tap_auto_sqt &tap_auto_dqt)
    MOD_MORPH_SFT(auto_comma_lt, &kp COMMA &tap_auto_lt)

    // auto-completion tap dances
    TAP_DANCE(auto_par, &kp LPAR &macro_auto_par)
    TAP_DANCE(auto_bkt, &kp LBKT &macro_auto_bkt)
    TAP_DANCE(auto_brc, &kp LBRC &macro_auto_brc)
    TAP_DANCE(auto_sqt, &kp SQT &macro_auto_sqt)
    TAP_DANCE(auto_dqt, &kp DQT &macro_auto_dqt)
    TAP_DANCE(auto_lt, &kp LT &macro_auto_lt)
  };
};