#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      label = str(macro_##NAME); \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      bindings = <BINDINGS>; \
  };

#define MACRO_AUTOCOMPLETE(NAME, LHS_BINDING, RHS_BINDING) \
  macro_##NAME: macro_##NAME { \
      label = str(macro_##NAME); \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      bindings = <&macro_tap LHS_BINDING> \
               , <&macro_tap RHS_BINDING> \
               , <&macro_tap &kp LEFT> \
               ; \
  };

#define MACRO_MOD(NAME, BINDING, MODS) \
  macro_##NAME: macro_##NAME { \
      label = str(macro_##NAME); \
      compatible = "zmk,behavior-macro"; \
      #binding-cells = <0>; \
      bindings = <&macro_press MODS> \
               , <&macro_tap BINDING> \
               , <&macro_release MODS> \
               ; \
  };

#define MACRO_MOD_AMETHYST(NAME, BINDING) MACRO_MOD(NAME, BINDING, &kp LCTRL &kp LALT)
#define MACRO_MOD_ARC(NAME, BINDING) MACRO_MOD(NAME, BINDING, &kp LGUI &kp LALT)

/ {
  macros {
    // auto-completion macros
    MACRO_AUTOCOMPLETE(auto_par, &kp LPAR, &kp RPAR)
    MACRO_AUTOCOMPLETE(auto_bkt, &kp LBKT, &kp RBKT)
    MACRO_AUTOCOMPLETE(auto_brc, &kp LBRC, &kp RBRC)
    MACRO_AUTOCOMPLETE(auto_sqt, &kp SQT, &kp SQT)
    MACRO_AUTOCOMPLETE(auto_dqt, &kp DQT, &kp DQT)
    MACRO_AUTOCOMPLETE(auto_lt, &kp LT, &kp GT)

    // arc: gui + alt
    MACRO_MOD_ARC(arc_next_tab, &kp DOWN)
    MACRO_MOD_ARC(arc_next_spc, &kp RIGHT)
    MACRO_MOD_ARC(arc_prev_tab, &kp UP)
    MACRO_MOD_ARC(arc_prev_spc, &kp LEFT)

    // amethyst: ctrl + alt
    MACRO_MOD_AMETHYST(amth_swap_cw, &kp RIGHT)
    MACRO_MOD_AMETHYST(amth_swap_ccw, &kp LEFT)
    MACRO_MOD_AMETHYST(amth_swap_main, &kp RET) 
    MACRO_MOD_AMETHYST(amth_swap_layout, &kp LT)
    MACRO_MOD_AMETHYST(amth_increase_main, &kp UP)
    MACRO_MOD_AMETHYST(amth_decrease_main, &kp DOWN)

    // simple general macros
    MACRO_MOD(alfred, &kp SPACE, &kp LGUI)
    MACRO_MOD(newtab, &kp T, &kp LGUI)

    // complicated macros
    MACRO(mac_st, &macro_press &kp LGUI &kp LCTRL &kp LSFT &macro_tap &kp N4 &macro_release &kp LGUI &kp LCTRL &kp LSFT)
    MACRO(arc_st, &macro_press &kp LGUI &kp LSFT &macro_tap &kp N2 &macro_release &kp LGUI &kp LSFT)
    
    MACRO(selword, &macro_press &kp LALT &macro_tap &kp LEFT &macro_press &kp LSHFT &macro_tap &kp RIGHT &macro_release &kp LSHFT &kp LALT)
    MACRO(selnext, &macro_press &kp LALT &kp LSHFT &macro_tap &kp RIGHT &macro_release &kp LSHFT &kp LALT)
  };
};