#define MACRO(NAME, BINDINGS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_##NAME); \
      #binding-cells = <0>; \
      bindings = <BINDINGS> \
  };

#define MACRO_AUTOCOMPLETE(NAME, LHS_BINDING, RHS_BINDING) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_auto_##NAME); \
      #binding-cells = <0>; \
      bindings = <&macro_tap LHS_BINDING> \
               , <&macro_tap RHS_BINDING> \
               , <&macro_tap &kp LEFT> \
               ; \
  };

#define MACRO_MOD(NAME, BINDINGS, MODS) \
  macro_##NAME: macro_##NAME { \
      compatible = "zmk,behavior-macro"; \
      label = str(macro_amethyst_##NAME); \
      #binding-cells = <0>; \
      bindings = <&macro_press MODS> \
               , <&macro_tap BINDINGS> \
               , <&macro_release MODS> \
               ; \
  };

#define MACRO_MOD_AMETHYST(NAME, BINDING) MACRO_MODS(str(amth_##NAME), BINDING, &kp LCTRL &kp LALT)
#define MACRO_MOD_ARC(NAME, BINDING) MACRO_MODS(str(arc_##NAME), BINDING, &kp LGUI &kp LALT)

/ {
  macros {
    // auto-completion Macros
    MACRO_AUTOCOMPLETE(par, &kp LPAR, &kp RPAR)
    MACRO_AUTOCOMPLETE(bkt, &kp LBKT, &kp RBKT)
    MACRO_AUTOCOMPLETE(brc, &kp LBRC, &kp RBRC)
    MACRO_AUTOCOMPLETE(sqt, &kp SQT, &kp SQT)
    MACRO_AUTOCOMPLETE(dqt, &kp DQT, &kp DQT)
    MACRO_AUTOCOMPLETE(lgt, &kp LT, &kp GT)

    MACRO(mac_st, &macro_press &kp LGUI &kp LCTRL &kp LSFT &macro_tap &kp N4 &macro_release &kp LGUI &kp LCTRL &kp LSFT)
    MACRO(arc_st, &macro_press &kp LGUI &kp LSFT &macro_tap &kp N2 <&macro_release &kp LGUI &kp LSFT)

    MACRO_MOD_ARC(next_tab, &kp DOWN)
    MACRO_MOD_ARC(next_spc, &kp RIGHT)
    MACRO_MOD_ARC(prev_tab, &kp UP)
    MACRO_MOD_ARC(prev_spc, &kp LEFT)

    MACRO_AMETHYST(swap_cw, &kp RIGHT)
    MACRO_AMETHYST(swap_ccw, &kp LEFT)
    MACRO_AMETHYST(swap_main, &kp RET)
    MACRO_AMETHYST(swap_layout, &kp LT)
    MACRO_AMETHYST(increase_main, &kp UP)
    MACRO_AMETHYST(decrease_main, &kp DOWN)

    MACRO(selword, &macro_press &kp LALT &macro_tap &kp LEFT &macro_press &kp LSHFT &macro_tap &kp RIGHT &macro_release &kp LSHFT &kp LALT)
    MACRO(selnext, <&macro_press &kp LALT &kp LSHFT &macro_tap &kp RIGHT &macro_release &kp LSHFT &kp LALT)
  };
};